/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 3%;
  left: 85%;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2d1148;
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: white;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Responsivo */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
  }
}